.App {
  text-align: center;

  width: 100vw;
  height: 100vh;
}
p {
  margin: 0;
}
.container {
  width: 80vw;
  height: auto;

  margin: 100px auto;
  padding: 5px;
  padding-bottom: 25px;

  background-color: #ffffff;

  border-radius: 10px;

}
@media (min-width: 500px) {
  .container {
    max-width: 500px;
  }
}